@page "/edit-component-type"

@inject HttpClient httpClient

@using Equipments.Web.Client.Models;

<PageTitle>Редактировать тип комплектующего</PageTitle>
    <div class="col-md-12">
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Невозможно сохранить</RadzenAlert>
    <RadzenTemplateForm TItem="SomeTypeDto" Data="@typeDto" Visible="@(typeDto != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                <RadzenLabel Text="Name" Component="Наименование" style="width: 100%" />
                </div>
                <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@typeDto.Name" Name="Наименование" />
                <RadzenRequiredValidator Component="Наименование" Text="Необходимо наименование!" />
                <RadzenLengthValidator Component="Наименование" Min="5" Max="50" Text="Поле должно содержать от 5 до 50 символов!" />
                <RadzenRegexValidator Component="Наименование" Pattern="^[а-яА-ЯёЁ\s]+$" Text="Только русские символы!" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" Style="margin-right: 0.5rem" Variant="Variant.Flat"/>
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Отмена" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

