@page "/add-data-type"

@inject HttpClient httpClient

@using Equipments.Domain;
@using Equipments.Web.Shared;

<PageTitle>Add DataType</PageTitle>
<div class="col-md-12">
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save DataType</RadzenAlert>
    <RadzenTemplateForm TItem="DataTypeDto" Data="@dataTypeDto" Visible="@(dataTypeDto != null)" Submit="@FormSubmit">
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="Name" Component="Name" style="width: 100%" />
            </div>
            <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dataTypeDto.Name" Name="Name" />
                <RadzenRequiredValidator Component="Name" Text="Name is required" />
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="CodeName" Component="CodeName" style="width: 100%" />
            </div>
            <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dataTypeDto.CodeName" Name="CodeName" />
                <RadzenRequiredValidator Component="CodeName" Text="CodeName is required" />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>

