@page "/add-data-type"

@inject HttpClient httpClient

@using Equipments.Domain;
@using Equipments.Web.Client.Models;

<PageTitle>Добавить тип данных</PageTitle>
<div class="col-md-12">
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Невозможно сохранить</RadzenAlert>
    <RadzenTemplateForm TItem="DataTypeDto" Data="@dataTypeDto" Visible="@(dataTypeDto != null)" Submit="@FormSubmit">
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="Наименование" Component="Наименование" style="width: 100%" />
            </div>
            <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dataTypeDto.Name" Name="Наименование" />
                <RadzenRequiredValidator Component="Наименование" Text="Наименование обязательно!" />
                <RadzenLengthValidator Component="Наименование" Min="3" Max="20" Text="Поле должно содержать от 3 до 20 символов!" />
                <RadzenRegexValidator Component="Наименование" Pattern="^[а-яА-ЯёЁ\s]+$" Text="Только русские символы!" />
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="Кодовое наименование" Component="Кодовое наименование" style="width: 100%" />
            </div>
            <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dataTypeDto.CodeName" Name="Кодовое наименование" />
                <RadzenRequiredValidator Component="Кодовое наименование" Text="Кодовое наименование обязательно!" />
                <RadzenLengthValidator Component="Кодовое наименование" Min="3" Max="15" Text="Поле должно содержать от 3 до 15 символов!" />
                <RadzenRegexValidator Component="Кодовое наименование" Pattern="^[a-zA-Z\s]+$" Text="Только латинские буквы!" />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>